<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Roboto:ital@1&display=swap" rel="stylesheet">
    
    <link href="style.css" rel="stylesheet" type="text/css">

    <title>Home</title>
  </head>

  <body>
    <section id="hero">
      <div class="container text-center text-md-left">
        <div class="topmargin-lg">
			<img src="images/languages.png" alt="" class="mb-3">
        	<h1 class="text-dark"><b>Clinical Form</b></h1>
       		<p>Cutting Edge Product Offering for Medical Facilities</p>
           	<a href="#" class="btm btm-light topmargin-sm"><b>Let's work</b></a>
        </div>
      </div>
    </section>

    <section id="howirworks">
      <div class="container-fluid">
        <div class="container content-center">
          <h2><b>Clinical Form</b></h2>
          <p>We integrate user-friendly electronic HIPAA Forms into your website for your patients to fill out in from the comfort and 
            safety of their home via <b>computer, mobile or tablet.</b></p>
        </div>
    
        <div class="row justify-content-center text-center">
          <div class="col-12 col-md-6" style="max-width: 280px; ">
            <img src="images/create1.png" class="topmargin-sm" alt="howitworks 1">
            <div class="text-justify topmargin-sm">
              <p>After a review of your current software and hardware we make appropriate recommendations on what is the best upgrade 
                 your system needs that will provide you with optimal results.</p>
            </div>
          </div>

          <div class="col-12 col-md-6" style="max-width: 280px; ">
            <img src="images/create.png" class="topmargin-sm" alt="howitworks 2">
            <div class="text-justify topmargin-sm">
              <p>Your company and clients can be rest assured that their confidential information is secure and safe since we utilize
                 the highest security standards that uphold <b>HIPPA Regulations.</b></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section id="howwedo" class="bg-light-blue">
      <div class="container">
        <div class="content-icenter ">
          <h2><b>How does this improve your business?</b></h2>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="howwedo-container">
              <div class="card">
                <img src="images/tem1.png" class="tem" alt="howwedo 1">
                <h3>Increase your employee’s turnaround times and productivity</h3>
              </div>
            </div>            
          </div>

          <div class="col-md-4">
            <div class="howwedo-container">
              <div class="card">
                <img src="images/tem2.png" class="tem" alt="howwedo 2">
                <h3>Focus more on your patients and less time on “busy work”</h3>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="howwedo-container">
              <div class="card">
                <img src="images/tem3.png" class="tem" alt="howwedo 3">
                <h3>Create seamless and less stressful doctor’s visit experience</h3>
              </div>
            </div>            
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="howwedo-container">
              <div class="card">
                <img src="images/tem4.png" class="tem" alt="howwedo 4">
                <h3>Reduce patients time spent at the office in the waiting room</h3>
              </div>
            </div>
          </div>

          <div class="col-md-8">
            <div class="howwedo-container">
              <div class="card2">
                <img src="images/tem5.png" class="tem" alt="howwedo 5">
                <h3>Increase patient confidence by making your patients feel safer. Reduced times around others in the waiting 
                    room will lessen their risk of contracting covid-19, variants or other contagious illnesses</h3>
              </div>
            </div>
          </div>

      </div>
    </section>
    
    <section class="knowus">
      <div class="container text-center text-md-left">
		  <div class="row">
			   <div class="col-12 pb-5">
				  <h2><b>Know us</b></h2>
			  </div>
		  </div>
		  <div class="row text-justify">
			  <div class="col-12 col-md-6">
				  <h3><b>PCS Orange</b></h3>
				  <p>We have over <b>10 years of experience</b> in the realm of Healthcare, Banking IT support among other Tech companies such as IBM and Epicor.</p>
				  <div class="row align-items-center py-3 text-center">
					  <div class="col-12 col-md-auto">
						<img src="images/corporate1.png" alt="">
					</div>
					<div class="col-12 col-md">
						<p class="text-justify">We have successfully sustained clients throughout the years with our outstanding service that involves IT support and software development including <b>AZURE Certifications, AWS, and HIPAA integration.</b></p>
					</div>
				  </div>
				  <div class="row align-items-center py-3 text-center">
					  <div class="col-12 col-md-auto">
						<img src="images/corporate2.png" alt="">
					</div>
					<div class="col-12 col-md">
						<p class="text-justify">The following are a list of some of the clients we have assisted over the years and have formed <b>great working relationships.</b> You are welcome to request references from our clients.</p>
					</div>
				  </div>
			  </div>
			  <div class="col-12 col-md-6 text-center">
				  <div class="my-5">
					  <img src="images/Ellipse4.png" alt="">
				  	  <p class="mb-0"><b>Carlos J Mansilla</b></p>
				  	  <p class="mb-0">Electrical Engineer SUNY New Paltz</p>
				  </div>
				  <div class="my-5">
					  <img src="images/Ellipse5.png" alt="">
				      <p class="mb-0"><b>Lorenzo Uzuriaga Caceres</b></p>
				      <p class="mb-0">Univeristy</p>
				  </div>
			  </div>
		  </div>
      </div>
    </section>

    <section id="contact">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-12 col-md-6" style="background-color: #eccfa3;height: 100%;">
					<h2 class="text-center text-md-right pr-4"><b>Let's work</b></h2>
				</div>
				<div class="col-12 col-md-6" style="background-color: #d8ad82;">
					<div class="card my-5" style="width: 80%; margin: 0 auto">
						<div class="card-body">
							<form action="">
								<div class="form-group">
									<input type="text" placeholder="Full Name e.g. Juan -Suarez" class="form-control" id="full_name">
								</div>
								<div class="form-group">
									<input type="text" placeholder="Company Name e.g. JR SAC" class="form-control" id="company_name">
								</div>
								<div class="form-group">
									<input type="number" placeholder="Phone Number e.g. 922065773" class="form-control" id="phone_number">
								</div>
								<div class="form-group">
									<input type="email" placeholder="Email e.g. example@example.com" class="form-control" id="email">
								</div>
								<button type="submit" class="btn text-center col-12" style="background-color: #849da2; color: white">Contact us</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
    </section>
  </body>
</html>
