<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Roboto:ital@1&display=swap" rel="stylesheet">
    
    <link href="style.css" rel="stylesheet" type="text/css">

    <title>Hogar</title>
  </head>

  <body>
    <section id="hero">
      <div class="container text-center text-md-left">
        <div class="topmargin-lg">
			<img src="images/USA_logo.png" alt="" class="mb-3">
        	<h1 class="text-dark"><b>Formulario para clínicas</b></h1>
       		<p>Oferta de productos de vanguardia para instalaciones médicas</p>
           	<a href="#contact" class="btm btm-light topmargin-sm"><b>¡Vamos a trabajar!</b></a>
        </div>
      </div>
    </section>

    <section id="howirworks">
      <div class="container-fluid pt-4">
        <div class="container content-center">
          <h2><b>Formulario para clínicas</b></h2>
          <p>Integramos formularios HIPAA electrónicos fáciles de usar en su sitio web para que sus pacientes los completen desde la comodidad y seguridad de su hogar a través de <b>una computadora, teléfono móvil o tableta.</b></p>
        </div>
    
        <div class="row justify-content-center text-center">
          <div class="col-12 col-md-6" style="max-width: 280px; ">
            <img src="images/create1.png" class="topmargin-sm" alt="howitworks 1">
            <div class="text-justify topmargin-sm">
              <p>Después de una revisión de su software y hardware actual, hacemos las recomendaciones adecuadas sobre cuál es la mejor actualización que su sistema necesita para brindarle resultados óptimos.</p>
            </div>
          </div>

          <div class="col-12 col-md-6" style="max-width: 280px; ">
            <img src="images/create.png" class="topmargin-sm" alt="howitworks 2">
            <div class="text-justify topmargin-sm">
              <p>Su empresa y sus clientes pueden estar seguros de que su información confidencial está segura ya que utilizamos los más altos estándares de seguridad que cumplen con las <b>regulaciones HIPPA.</b></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section id="howwedo" class="bg-light-blue">
      <div class="container pt-4">
        <div class="content-icenter ">
          <h2><b>¿Cómo mejora esto su negocio?</b></h2>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="howwedo-container">
              <div class="card">
                <img src="images/tem1.png" class="tem" alt="howwedo 1">
                <h3>Aumente los tiempos de respuesta y la productividad de sus empleados</h3>
              </div>
            </div>            
          </div>

          <div class="col-md-4">
            <div class="howwedo-container">
              <div class="card">
                <img src="images/tem2.png" class="tem" alt="howwedo 2">
                <h3>Concéntrese más en sus pacientes y menos tiempo en el "trabajo ajetreado"</h3>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="howwedo-container">
              <div class="card">
                <img src="images/tem3.png" class="tem" alt="howwedo 3">
                <h3>Cree una experiencia de visita al médico sin problemas y menos estresante</h3>
              </div>
            </div>            
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="howwedo-container">
              <div class="card">
                <img src="images/tem4.png" class="tem" alt="howwedo 4">
                <h3>Reducir el tiempo que los pacientes pasan en la oficina en la sala de espera</h3>
              </div>
            </div>
          </div>

          <div class="col-md-8">
            <div class="howwedo-container">
              <div class="card2">
                <img src="images/tem5.png" class="tem" alt="howwedo 5">
                <h3>Aumente la confianza del paciente haciendoles sentir más seguros. Los tiempos reducidos con otras personas en la sala de espera disminuirán el riesgo de contraer covid-19, variantes u otras enfermedades contagiosas.</h3>
              </div>
            </div>
          </div>

      </div>
    </section>
    
    <section id="knowus">
      <div class="container text-center text-md-left">
		  <div class="row">
			   <div class="col-12 pb-5">
				  <h2><b>Conócenos</b></h2>
			  </div>
		  </div>
		  <div class="row text-justify">
			  <div class="col-12 col-md-6">
				  <h3><b>PCS Orange</b></h3>
				  <p>Contamos con <b>más de 10 años de experiencia</b> en el ámbito de la asistencia sanitaria, soporte de TI bancario entre otras empresas tecnológicas como IBM y Epicor.</p>
				  <div class="row align-items-center py-3 text-center">
					  <div class="col-12 col-md-auto">
						<img src="images/corporate1.png" alt="">
					</div>
					<div class="col-12 col-md">
						<p class="text-justify">Hemos sostenido con éxito a los clientes a lo largo de los años con nuestro excelente servicio que incluye soporte de TI y desarrollo de software, incluidas las certificaciones <b>AZURE, AWS e integración de HIPAA.</b></p>
					</div>
				  </div>
				  <div class="row align-items-center py-3 text-center">
					  <div class="col-12 col-md-auto">
						<img src="images/corporate2.png" alt="">
					</div>
					<div class="col-12 col-md">
						<p class="text-justify">La siguiente es una lista de algunos de los clientes a los que hemos asistido a lo largo de los años y hemos formado excelentes relaciones laborales. Le invitamos a solicitar referencias de nuestros clientes.</p>
					</div>
				  </div>
			  </div>
			  <div class="col-12 col-md-6 text-center">
				  <div class="my-5">
					  <img src="images/Ellipse4.png" alt="">
				  	  <p class="mb-0"><b>Carlos J Mansilla</b></p>
				  	  <p class="mb-0">Ingeniero Electrico SUNY New Paltz</p>
				  </div>
				  <div class="my-5">
					  <img src="images/Ellipse5.png" alt="">
				      <p class="mb-0"><b>Lorenzo Uzuriaga Caceres</b></p>
				      <p class="mb-0">Universitario</p>
				  </div>
			  </div>
		  </div>
      </div>
    </section>

    <section id="contact">
		<div class="container-fluid">
			<div class="row align-items-center" style="background-color: #eccfa3">
				<div class="col-12 col-md-6">
					<h2 class="text-center text-md-right pr-4 py-3"><b>¡Vamos a trabajar!</b></h2>
				</div>
				<div class="col-12 col-md-6" style="background-color: #d8ad82">
					<div class="card my-5" style="width: 80%; margin: 0 auto">
						<div class="card-body">
							<form action="">
								<div class="form-group">
									<input type="text" placeholder="Nombre Completo e.j. Juan -Suarez" class="form-control" id="full_name" required>
								</div>
								<div class="form-group">
									<input type="text" placeholder="Compañía e.j. JR SAC" class="form-control" id="company_name" required>
								</div>
								<div class="form-group">
									<input type="number" placeholder="Número Telefónico e.j. 922065773" class="form-control" id="phone_number" required>
								</div>
								<div class="form-group">
									<input type="email" placeholder="Correo Electrónico e.j. example@example.com" class="form-control" id="email" required>
								</div>
								<button id="submit" type="submit" class="btn text-center col-12" style="background-color: #849da2; color: white">Contact us</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
    </section>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $("#submit").submit(function(){
            Swal.fire({
                html: `<p style="color: white">Pronto nos estaremos contactando contigo. Gracias por la preferencia.</p>`,
                confirmButtonColor: '#4e6672',
                background: '#4e6672',
            });
        });
    </script>
  </body>
</html>