<body>
  <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container">
          <a class="navbar-brand" href="#">
              <img src="/images/logo.svg" width="40" height="40" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <ion-icon name="menu-outline"></ion-icon>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto text-center">
                  <li class="nav-item active">
                      <a class="nav-link" href="#" id="howirworks">How it works?</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#" id="howwedo">How we do?</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#" id="knowus">Know us</a>
                  </li>
              </ul>
              <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item active">
                  <a class="ion-icon" href="https://www.facebook.com/" id="facebook">
                    <ion-icon name="logo-facebook"></ion-icon>
                  </a>
                </li>
                <li class="nav-item active">
                  <a class="ion-icon toppaddinn-xs" href="https://twitter.com/" id="twitter">
                    <ion-icon name="logo-twitter"></ion-icon>
                  </a>
                </li>
                <li class="nav-item active">
                  <a class="ion-icon toppaddinn-xs" href="https://pe.linkedin.com/" id="linkedin">
                    <ion-icon name="logo-linkedin"></ion-icon>
                  </a>
                </li>
                <li class="nav-item active">
                  <a class="ion-icon toppaddinn-xs" href="https://www.instagram.com/" id="instagram">
                    <ion-icon name="logo-instagram"></ion-icon>
                  </a>
                </li>
                <li class="nav-item active">
                  <a class="ion-icon toppaddinn-xs" href="https://www.youtube.com/" id="youtube">
                    <ion-icon name="logo-youtube"></ion-icon>
                  </a>
                </li>
              </ul>
          </div>
      </div>
  </nav>

  <section id="hero">
    <div class="container">
      <div class="content-main topmargin-lg">
      <h1>Clinical Form</h1>
      <p>Cutting Edge Product Offering for Medical Facilities</p>
          <a href="#" class="btm btm-light topmargin-sm"><b>Let's work</b></a>
      </div>
    </div>
  </section>

  <section id="howirworks">
    <div class="container-fluid">
      <div class="content-center">
        <h2><b>Clinical Form</b></h2>
        <p>We integrate user-friendly electronic HIPAA Forms into your website for your patients to fill out in from the comfort and 
          safety of their home via <b>computer, mobile or tablet.</b></p>
      </div>
  
      <div class="row">
        <div class="col-md-6">
          <div class="howitworks-container">              
            <img src="/create1.png" class="img-fluid toppaddinn-lg topmargin-sm" alt="howitworks 1">
          </div>
          <div class="content-info topmargin-sm">
            <p>After a review of your current software and hardware we make appropriate recommendations on what is the best upgrade 
                your system needs that will provide you with optimal results.</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="howitworks-container">              
            <img src="/images/create.png" class="img-fluid toppaddinn-md topmargin-sm" alt="howitworks 2">
          </div>
          <div class="content-linfo topmargin-sm">
            <p>Your company and clients can be rest assured that their confidential information is secure and safe since we utilize
                the highest security standards that uphold <b>HIPPA Regulations.</b></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="howwedo" class="bg-light-blue">
    <div class="container">
      <div class="content-icenter ">
        <h2><b>How does this improve your business?</b></h2>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="howwedo-container">
            <div class="card">
              <img src="/images/tem1.png" class="tem" alt="howwedo 1">
              <h3>Increase your employee’s turnaround times and productivity</h3>
            </div>
          </div>            
        </div>

        <div class="col-md-4">
          <div class="howwedo-container">
            <div class="card">
              <img src="/images/tem2.png" class="tem" alt="howwedo 2">
              <h3>Focus more on your patients and less time on “busy work”</h3>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="howwedo-container">
            <div class="card">
              <img src="/images/tem3.png" class="tem" alt="howwedo 3">
              <h3>Create seamless and less stressful doctor’s visit experience</h3>
            </div>
          </div>            
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="howwedo-container">
            <div class="card">
              <img src="/images/tem4.png" class="tem" alt="howwedo 4">
              <h3>Reduce patients time spent at the office in the waiting room</h3>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div class="howwedo-container">
            <div class="card2">
              <img src="/images/tem5.png" class="tem" alt="howwedo 5">
              <h3>Increase patient confidence by making your patients feel safer. Reduced times around others in the waiting 
                  room will lessen their risk of contracting covid-19, variants or other contagious illnesses</h3>
            </div>
          </div>
        </div>

    </div>
  </section>
  
  <section class="knowus">
    <div class="container">

    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-6 topmargin-sm">
          <h4><b>¡Vamos a trabajar!</b></h4>
        </div>
        <div class="col-md-6 topmargin-sm">
          <div class="row">
            <div class="col-md-12">
              <div class="from-group">
                <input type="text" class="from-control" id="firstname" name="firstname"  placeholder="Primer Nombre"></input>
              </div>
            </div>
            <div class="col-md-12">
              <div class="from-group">
                <input type="text" class="from-control" id="lastname" name="lastname" placeholder="Primer Apellido"></input>
              </div>
            </div>
            <div class="col-md-12">
              <div class="from-group">
                <input type="text" class="from-control" id="company_name" name="company_name" placeholder="Compañia"></input>
              </div>
            </div>
            <div class="col-md-12">
              <div class="from-group">
                <input type="number" class="from-control" id="phone_number" name="phone_number" placeholder="Numero Telefonico"></input>
              </div>
            </div>
            <div class="col-md-12">
              <div class="from-group">
                <input type="text" class="from-control" id="email" name="email" placeholder="Correo Electronico"></input>
              </div>              
          </div>            
        </div>
      </div>
    </div>
  </section>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>