<div class="container-fluid text-light" style="background-color: #4e6672">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 text-center text-md-left py-5">
                <h2>Our Certifications</h2>
                <img src="images/certificaciones.png" alt="certificationes" class="py-3" width="100%">
                <img src="images/redes_logo.png" alt="reds" class="py-3" width="100%">
            </div>
            <div class="col-12 col-md-7 text-center text-md-right py-5">
                <h2>Our Offices</h2>
                <p class="mb-0 text-light">NYC Address: 515 Madison Ave 8th Fl Mailbox 8080  New York, NY 10022</p>
                <p class="mb-0 text-light">New Paltz, NY Address: 22 North Oakwood Terrace, New Paltz, NY 12561</p>
                <p class="mb-0 text-light">Newburgh, NY Address: 112 Fletcher Drive North, Newburgh NY 12550</p>
                <p class="mb-0 text-light">Lima, Peru Address: Las Musas 199th St, 16th Fl San Borja, Lima, Peru</p>
                <p class="mt-5 text-light">PCS Orange © 2021 - ALL RIGHTS RESERVED</p>
            </div>
        </div>
    </div>
    <div class="container border-top" style="height: 100px;">
    </div>
</div>