<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="images/logo.svg" width="40" height="40" alt="PCS Logo">
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    {{#each admin}}
                        <span class="navbar-text">Bienvenido, {{username}}</span>
                    {{/each}}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/out">Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" style="background-color: #eccfa3">
    <div class="container">
        <div class="row align-items-center" style="min-height: 100vh">
            <div class="col-12">
                <div class="card text-center py-5" style="width: 80%; height: 80%; background-color: white; margin: 0 auto">
                    <div class="card-body ">
                        <img src="images/logo.svg" alt="" class="mb-4">
                        <form action="/admin" method="POST">
                            <div class="col-12 col-md-4 offset-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="username"  name="username" placeholder="USUARIO">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="CONTRASEÑA">
                                </div>
                                <button type="submit" class="btn btn-primary col" style="background-color: #849da2;">INGRESAR</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid text-light" style="background-color: #4e6672">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 text-center text-md-left py-5">
                <h2>Our Certifications</h2>
                <img src="images/certificaciones.png" alt="certificationes" class="py-3" width="100%">
                <img src="images/redes_logo.png" alt="reds" class="py-3" width="100%">
            </div>
            <div class="col-12 col-md-7 text-center text-md-right py-5">
                <h2>Our Offices</h2>
                <p class="mb-0 text-light">NYC Address: 515 Madison Ave 8th Fl Mailbox 8080  New York, NY 10022</p>
                <p class="mb-0 text-light">New Paltz, NY Address: 22 North Oakwood Terrace, New Paltz, NY 12561</p>
                <p class="mb-0 text-light">Newburgh, NY Address: 112 Fletcher Drive North, Newburgh NY 12550</p>
                <p class="mb-0 text-light">Lima, Peru Address: Las Musas 199th St, 16th Fl San Borja, Lima, Peru</p>
                <p class="mt-5 text-light">PCS Orange © 2021 - ALL RIGHTS RESERVED</p>
            </div>
        </div>
    </div>
    <div class="container border-top" style="height: 100px;">
    </div>
</footer>